# Node
node_modules/
npm-debug.log*

# Env secrets
.env

# Data snapshots
data/*.bak
data/*.tmp
.env
#json files
live_courses.json
live_courses.jsonl
new_courses_clean.json
new_courses.json
opportunities.json
#readme
README.md